* {
  margin: 0px;
  padding: 0px;
}
html,
body {
  border: 1px thin black;
  position: relative;
}

body {
  overflow-y: auto;
  min-height: 100vh;
}
textarea:focus,
input:focus {
  outline: none;
}
a {
  color: inherit !important;
  text-decoration: none !important;
}
footer {
  background: #f1f1f1;
  width: 100%;
  padding: 16px 0px;
  color: #999;
  vertical-align: bottom;
  margin-top: 40px;
  text-align: center;
  /* width: 100%; */
  /* height: 2.5rem;   */
}

.banner {
  height: 500px;
  width: 100%;
  background: #999;
  margin: 20px 0px;
}

.content {
  padding: 20px 0px;
  /* display: flex; */
  /* flex-wrap: wrap; */
  /* @media (min-width: 600px) {
    .your-div{
       display: none;
    }
 } */
}
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* ================================== */
/* Layout page CSS */
/* ================================== */

.tile {
  /* TODO: MODULE_CARDS */
  /* 1. Fill in the required properties. */
  margin: 0.7rem;
  position: relative;
  display:flex;
  overflow: hidden;
  border-radius: 7%;
  color:white;
  height: 100%;
  align-items: stretch;
  justify-content: center;
  
  
}
.tile img {
  /* TODO: MODULE_CARDS */
  /* 1. Fill in the required properties. */
  width :100%;
  height:100%;
  transition: all .1s ease;



}
.tile img:hover {
  /* TODO: MODULE_CARDS */
  /* 1. Fill in the required properties. */
  filter: brightness(0.5);
  transform: scale(1.05);
  
}

/* Hint: Notice the position:absolute and z-index properties. */
/* Think about how those in relation to the existing "tile" classes. */
.tile-text {
  position: absolute;
  z-index: 1;
  text-transform: uppercase;
  letter-spacing: 2px;
  bottom:9px;
  text-align:center !important;
  justify-content: center;
}
.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/assets/hero.jpg");
  /* TODO: MODULE_LAYOUT */
  /* 1. Set a specific height. */
  /* 2. Position and center the image to scale nicely on all screens. */
  background-position: center;
  height: 400px;
  width: 100%;
  background-size: cover;
  align-items: center;
  color: white;

}
.hero-subheading {
  font-size: 24px;
  font-weight: 100;
 
}
/* h1 {
  text-align: center !important;
} */
/* h3{
  font-weight: 50 !important;
} */
.hero-input {
  display: inline;
  width: 80%;
  height: auto;
  padding: 16px;
  border-radius: 8px;
  border: none;
  position: center;

}
/* .mumbai{
  width:296px !important;
  height:404px !important;
} */
/* .img-thumbnail{
  width:224px !important;
  height:304px !important;
} */
/* @media only screen and (max-width: 468px){
  h1{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
  }
  h3{
    font-size:4vw;
  } 
} */
.nav-link {
  margin-right: 36px;
}

/* ================================== */
/* Adventures grid page CSS */
/* ================================== */

.adventure-card {
  /* TODO: MODULE_ADVENTURES_GRID */
  /* 1. Fill in the required properties. */
height: 20rem;
position: relative;
display: flex;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border-radius: 0.25rem;
    flex-direction: column;
  

}
.card-body adventure-card-body {
  justify-content: space-between;
  overflow: hidden;
}
.adventure-card img {
 

  /* TODO: MODULE_ADVENTURES_GRID */
  /* 1. Fill in the required properties. */
  width: 100%;
  height: 40vw;
  object-fit: cover;
  overflow: hidden;
}
.adventure-images {
  overflow: hidden;
}
.adventure-card img:hover {
  /* TODO: MODULE_ADVENTURES_GRID */
  /* 1. Fill in the required properties. */
  filter: brightness(0.5);
  transform: scale(1.05);

}
@media only screen and (max-width: 768px) {
  
  .card-body {
    text-align: center;
    flex-wrap: nowrap;
    display: flex;
    flex-direction: column;
  }
  .adventure-card {
    height: 100%;
  }
}
/* ================================== */
/* Adventure details page CSS */
/* ================================== */
.adventure-detail-card {
  /* TODO: MODULE_ADVENTURE_DETAILS */
  /* 1. Fill in the required properties. */
border: 1px solid gray;
border-radius: 4px;
padding: 16px;
}

.adventure-card-image {
  /* TODO: MODULE_ADVENTURE_DETAILS */
  /* 1. Fill in the required properties. */
  width: 100%;
  height: 100%;
}
.adventure-card-image:hover {
  /* TODO: MODULE_ADVENTURE_DETAILS */
  /* 1. Fill in the required properties. */
  filter: brightness(0.6);
  cursor: pointer;
}
.experience-content ul li {
  margin-left: 16px;
  padding: 0;
}
ul {
  display: block;
    list-style-type: disc;
}

@media only screen and (min-width: 768px) {
  /* For desktops phones: */
  #reservation {
    width: 400px;
    position: fixed;
  }
}
